@import '../style/theme/default';

.#{$prefix}-placeholder-shape {
  background: $theme-stroke-7;

  &--animate {
    animation: #{$prefix}-placeholder 2s linear infinite;
    background: linear-gradient(
                    to right,
                    rgba($theme-stroke-7, 0.5),
                    $theme-stroke-7,
                    $theme-stroke-8
    );
    background-size: 300% 300%;
  }
}

.#{$prefix}-placeholder-text-row, .#{$prefix}-placeholder-text-row-dashed .#{$prefix}-placeholder-shape {
  height: 1em;
}

.#{$prefix}-placeholder-text-row-dashed {
  display: flex;
  flex-direction: row;

  &-segment {
    box-sizing: border-box;
  }
}

.#{$prefix}-placeholder-circle {
  border-radius: 50%;
}

@keyframes #{$prefix}-placeholder {
  0%, 100% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
}