@import "../color";

$preset:'recruit';

$primary-color:$blue-6;
$info-color: $blue-6;
$success-color: $green-6;
$processing-color: $blue-6;
$error-color: $red-6;
$highlight-color: $red-6;
$warning-color: $gold-6;
$normal-color: #d9d9d9;
$white: #fff;
$black: #000;

//basic styles
$body-background: #fff;
$component-background: #fff;
$code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$text-color:lighten($black,65%);
$text-color-secondary:lighten($black,45%);
$text-color-warning:$gold-7;
$text-color-dark: lighten($white, 85%);
$text-color-secondary-dark: lighten($white, 65%);
$font-size-base: 14px;
$font-size-lg: $font-size-base + 2px;
$font-size-sm: 12px;
$font-variant-base: tabular-nums;
$font-feature-settings-base: 'tnum';
$line-height-base: 1.5;
$border-radius-base: 4px;
$border-radius-sm: 2px;
$heading-1-size: ceil($font-size-base * 2.71);
$heading-2-size: ceil($font-size-base * 2.14);
$heading-3-size: ceil($font-size-base * 1.71);
$heading-4-size: ceil($font-size-base * 1.42);

$padding-lg: 24px;
$padding-md: 16px;
$padding-sm: 12px;
$padding-xs: 8px;


//Animation
$ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// Border color
$border-color-base: hsl(0, 0, 85%); // base border outline a component
$border-color-split: hsl(0, 0, 91%); // split border inside a component
$border-color-inverse: $white;
$border-width-base: 1px; // width of the border for a component
$border-style-base: solid;


// Outline
$outline-blur-size: 0;
$outline-width: 2px;
$outline-color: $primary-color;
$background-color-light: hsl(0, 0, 98%); // background of header and selected item
$background-color-base: hsl(0, 0, 96%);
